<div class="plugin_videoplayer" ng-style="{'width': videoWidth + 'px'}">
	<video class="videoplayer" data-id="{{videoId}}" ng-src="{{videoSrc}}" width="100%">
	</video>
	<div class="controls_videoplayer" >
		<button class="playBtn" ng-click="playPause()">
			<i class="fas" ng-class="paused? 'fa-play':'fa-pause'">
			</i>
		</button>
		<button class="stopBtn" ng-click="stopPlaying()">
			<i class="fas fa-stop">
			</i>
		</button>
		<span class="timer" ng-bind="timer">
		</span>
		<input type="range" step="0.1" min="0" max="100" value="0" class="rewind" ng-model="rewind" ng-click="rewindVideo($event.target.value)"/>
		<span class="duration" ng-bind="duration">
		</span>
		<button class="sound" ng-click="soundOnOff()">
			<i class="fas fa-volume-up" ng-show="soundOn">
			</i>
			<i class="fas fa-volume-off" ng-show="!soundOn">
			</i>
		</button>
		<input type="range" step="0.1" min="0" max="1" value="1" class="volume" ng-model="volume" ng-change="changeVolume()" />
	</div>
</div>